body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/arkaplan.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.app{
  width: 600px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
}
